<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">segundoexamenparcial</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Actores">
                <span class="oi oi-plus" aria-hidden="true"></span> Actores
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RoleType">
                <span class="oi oi-plus" aria-hidden="true"></span> Role type
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FilmsActorRoles">
                <span class="oi oi-plus" aria-hidden="true"></span> Films actor roles
            </NavLink>
        </li><li class="nav-item px-3">
            <NavLink class="nav-link" href="FilmGenres">
                <span class="oi oi-plus" aria-hidden="true"></span> Film genres
            </NavLink>
        </li><li class="nav-item px-3">
            <NavLink class="nav-link" href="FilmTitles">
                <span class="oi oi-plus" aria-hidden="true"></span> Film titles
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Producers">
                <span class="oi oi-plus" aria-hidden="true"></span> Producers
            </NavLink>
        </li><li class="nav-item px-3">
            <NavLink class="nav-link" href="FilmTitlesProducers">
                <span class="oi oi-plus" aria-hidden="true"></span> Film titles producers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FilmCertificates">
                <span class="oi oi-plus" aria-hidden="true"></span> Film certificates
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
