@page "/AgregarFilmTitle"
@inject NavigationManager NavigationManager

<h3>Agregar film title</h3>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label for="filmTitleId" class="control-label">Film title Id</label>
            <input type="text" id="filmtitleId" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="filmTitleName" class="control-label">Film title name</label>
            <input type="numer" id="fullName" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="filmStory" class="control-label">Film story</label>
            <input type="numer" id="filmStory" class="form-control"/>
        </div>
         <div class="form-group">
                <label for="filmReleaseDate" class="control-label">Film release date</label>
                <input id="filmReleaseDate" class="form-control"/>
            </div>
        <div class="form-group">
            <label for="filmDuraction" class="control-label">Film duraction</label>
            <input type="string" id="filmDuraction" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="filmGenreId" class="control-label">Film genre Id</label>
            <input type="string" id="filmGenreId" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="filmCertificateId" class="control-label">Film certificate Id</label>
            <input type="string" id="filmCertificateId" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="filmAdditionalInfo" class="control-label">Film additional info</label>
            <input type="string" id="filmAdditionalInfo" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary" >Guardar</button>
        <button type="button" class="btn btn-primary" >Cancelar</button>
    </div>
</div>